<div class="jumbotron jumbotron-fluid jumbotron-bg-cover">
  <%= image_tag('wedding-bg.jpg', class: 'bg-cover') %>
  <div class="container">
    <h1 class="display-4">It's great to meet you!</h1>
    <p class="lead">Click below to get started</p>
    <!-- <hr class="my-4"> -->
    <p class="lead">
      <%= link_to 'Tell us about your perfect day', new_lead_path, class: 'btn btn-primary btn-large', role: 'button' %>
    </p>
  </div>
</div>
