<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<!-- <link rel="icon" href="../../../../favicon.ico"> -->

<title><%= @title %></title>

<%= stylesheet_pack_tag 'application' %>
