.jumbotron-bg-cover {
  padding-top: 0rem;
  background: transparent;

  .bg-cover {
    height: 50vh;
    width: 100vw;
    object-fit: cover;
    object-position: top center;
    position: absolute;
    opacity: .5;
    // -webkit-filter: brightness(100%);
  }

  .container {
    padding-top: 4rem;
    position: relative;
    text-align: center;
  }
}
