<div class="card mb-4 shadow-sm">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal"><%= title %></h4>
  </div>
  <div class="card-body">
    <%= yield %>
    <button type="button" class="btn btn-lg btn-block <%= button_class %>"><%= button_text %></button>
  </div>
</div>
