<% if object.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(object.errors.count, "issues") %> stopped us saving your information:</h4>

    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
