<!doctype html>
<html lang="en">
  <head>
    <%= render 'shared/ui/head' %>
  </head>

  <body class="authentication text-center">
    <div class="form-signin">
      <%= render 'shared/components/flashes' %>

      <%= yield %>
    </div>
  </body>
</html>
